<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="siberian">
            <div class="siberian-container">
                <div class="siberian-content">
                    <div class="siberian-content-item" data-item="0">
                        <img src="../images/nature.jpg" alt="" onerror="this.src='https://images.unsplash.com/photo-1421098518790-5a14be02b243?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80'" />
        
                        <div class="siberian-content-item-info">
                            <h3 class="title">Scandivania, Denmark</h3>
                            <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Learn More</a>
                        </div>
        
                        <div class="siberian-content-item-text">
                            <p>The Siberian husky is a graceful, athletic dog with high endurance and an eagerness to work. This friendly dog breed, which originated in Northeast Asia as a sled dog, has a vivacious and mischievous personality.</p>
                        </div>
                    </div>
        
                    <div class="siberian-content-item" data-item="1">
                        <img src="images/moscow.jpg" alt=""  onerror="this.src='https://images.unsplash.com/photo-1477601263568-180e2c6d046e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'" />
        
                        <div class="siberian-content-item-info">
                            <h3 class="title">Moscow, Russia</h3>
                            <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
                        </div>
                    </div>
        
                    <div class="siberian-content-item" data-item="2">
                        <div class="siberian-content-item-info">
                            <h3 class="title">Card Title</h3>
                            <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
                        </div>
        
                        <div class="siberian-content-item-text">
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <button class="prev">Prev</button>
            <button class="next">Next</button>
        </div>    
    </body>
</html>