<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Siberian</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/optional.css" />
    <link rel="stylesheet" href="css/siberian.css" />
  </head>

  <body>
    <div class="siberian">
      <div class="siberian-container">
        <div class="siberian-content">
          <div class="siberian-content-item" data-item="0">
            <img src="images/nature.jpg" alt="" />

            <div class="siberian-content-item-info">
              <h3 class="title">Scandivania, Denmark</h3>
              <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Learn More</a>
            </div>

            <div class="siberian-content-item-text">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>

          <div class="siberian-content-item" data-item="1">
            <img src="images/moscow.jpg" alt="" />

            <div class="siberian-content-item-info">
              <h3 class="title">Moscow, Russia</h3>
              <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
            </div>

            <div class="siberian-content-item-text"></div>
          </div>

          <div class="siberian-content-item" data-item="2">
            <div class="siberian-content-item-info">
              <h3 class="title">Card Title</h3>
              <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
            </div>

            <div class="siberian-content-item-text">
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>

          <div class="siberian-content-item" data-item="3">
            <div class="siberian-content-item-info">
              <h3 class="title">Card Title</h3>
              <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
            </div>

            <div class="siberian-content-item-text">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>

          <div class="siberian-content-item" data-item="4">
            <div class="siberian-content-item-info">
              <h3 class="title">Card Title</h3>
              <a href="#" class="link" rel="noopener" aria-label="Card Link" target="_blank">Card link</a>
            </div>

            <div class="siberian-content-item-text">
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
      </div>

      <button class="prev"><<</button>
      <button class="next">>></button>
    </div>

    <script src="js/siberian.js"></script>
  </body>
</html>